USE [master]
GO
/****** Object:  Database [DMAdventureWorks2014]    Script Date: 16/01/2021 20:11:09 ******/
CREATE DATABASE [DMAdventureWorks2014]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DMAdventureWorks2014', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DMAdventureWorks2014.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DMAdventureWorks2014_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DMAdventureWorks2014_log.ldf' , SIZE = 663552KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DMAdventureWorks2014].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/*ALTER DATABASE [DMAdventureWorks2014] SET QUERY_STORE = OFF
GO*/
USE [DMAdventureWorks2014]
GO
/****** Object:  Table [dbo].[DIM_CLIENTE]    Script Date: 16/01/2021 20:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENTE](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[PAIS] [nvarchar](50) NULL,
	[CIUDAD] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCTO]    Script Date: 16/01/2021 20:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCTO](
	[IDPRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[CATEGORIA] [nvarchar](50) NOT NULL,
	[SUBCATEGORIA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PROVEEDOR]    Script Date: 16/01/2021 20:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PROVEEDOR](
	[IDPROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[PAIS] [nvarchar](50) NOT NULL,
	[CIUDAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIEMPO]    Script Date: 16/01/2021 20:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIEMPO](
	[IDFECHA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NULL,
	[ANIO] [nvarchar](50) NULL,
	[TRIMESTRE] [nvarchar](50) NULL,
	[MES] [nvarchar](50) NULL,
	[DIA] [int] NULL,
 CONSTRAINT [PK_DIM_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[IDFECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAC_VENTAS]    Script Date: 16/01/2021 20:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAC_VENTAS](
	[IDFECHA] [int] NULL,
	[IDCLIENTE] [int] NULL,
	[IDPRODUCTO] [int] NULL,
	[IDPROVEEDOR] [int] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[CANTIDAD] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAC_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_FAC_VENTAS_DIM_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[DIM_CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[FAC_VENTAS] CHECK CONSTRAINT [FK_FAC_VENTAS_DIM_CLIENTE]
GO
ALTER TABLE [dbo].[FAC_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_FAC_VENTAS_DIM_PRODUCTO] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[DIM_PRODUCTO] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[FAC_VENTAS] CHECK CONSTRAINT [FK_FAC_VENTAS_DIM_PRODUCTO]
GO
ALTER TABLE [dbo].[FAC_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_FAC_VENTAS_DIM_PROVEEDOR] FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[DIM_PROVEEDOR] ([IDPROVEEDOR])
GO
ALTER TABLE [dbo].[FAC_VENTAS] CHECK CONSTRAINT [FK_FAC_VENTAS_DIM_PROVEEDOR]
GO
ALTER TABLE [dbo].[FAC_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_FAC_VENTAS_DIM_TIEMPO] FOREIGN KEY([IDFECHA])
REFERENCES [dbo].[DIM_TIEMPO] ([IDFECHA])
GO
ALTER TABLE [dbo].[FAC_VENTAS] CHECK CONSTRAINT [FK_FAC_VENTAS_DIM_TIEMPO]
GO
USE [master]
GO